<html>
    <head>
        <title></title>
    </head>
    <body>

        <h1>Clients</h1>
        {{ stylist.getStylistId }}

        {% for client in clients %}
        <ul>
            <li>{{ client.getClientName }}</li>
        </ul>
        {% endfor %}


        <h1>This is the client list corresponding to stylists</h1>

    </body>
</html>



///just changed this to client.get
