<html>
    <head>
        <title></title>
    </head>
    <body>

        <h1>Clients</h1>
        <!-- <h1>{{ stylist.getStylist }}'s Clients</h1>

        {% for client in clients %}
        <ul>
            <li>{{ client.getClientName }}</li>
        </ul>
        {% endfor %} -->

    </body>
</html>
