<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Edit this Client</title>
  </head>
  <body>
    <div class="container">
      <div class="well">
        <h2>Edit {{ client.getClientName }}</h2>
        <form action='/clients/{{ client.getId }}' method="post">
          <input type="hidden" name="_method" value="patch">
          <label for="name">Rename your client:</label>
          <input type="text" name="name" id="client">
          <button type="submit">update</button>
        </form>
      </div>


      <form action="/clients/{{ client.getId }}" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit">Remove Client</button>
      </form>

      <a href="/">home</a>

    </div>
  </body>
</html>
