<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>yaddah yaddah, welcome to our bougie salon</h1>
    <form action="/" method="post">
      <label for="stylist">Please enter the name of your stylist:</label>
      <input type="text" name="stylist">
      <button type="submit" name="btn">Add them!</button>


      {% for stylist in stylists %}
        <li> {{ stylist.getStylist }} </li>
      {% endfor %}


    </form>
  </body>
</html>
