<html>
    <head>
        <title></title>
    </head>
    <body>
        {{ stylist.getStylist}}
        <ul>

            {% for client in clients %}
            <li>
                {{ client.getClientName }}
            </li>

            <h4>Add a task</h4>


</body>
</html>
