<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Stylists</h1>
        <form action="/stylists" method="post">
            <label for="stylist">Stylist: </label>
            <input type="text" name="stylist">
            <button type='submit'>Add stylist</button>
        </form>
        <ul>
            {% for stylist in stylists %}
            <li>{{ stylist.getStylist }}</li>
            {% endfor %}

        </ul>


        <p><a href="/">Home</a></p>
</body>
</html>
