<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<html>
    <head>
        <title>Edit This Stylist</title>
    </head>
    <body>
        Edit {{ stylist.getStylist }}

        <form action='/stylists/{{ stylist.getId }}' method="post">
            <input type="hidden" name="_method" value="patch">
            <label for="name">Rename your stylist:</label>
            <input type="text" name="name" id="stylist">
            <button type="submit">update</button>
        </form>

        <form action="/stylists/{{ stylist.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Remove Stylist</button>
        </form>

        <a href="/">home</a>


    </body>
</html>
