<html>
    <head>
        <title></title>
    </head>
    <body>

        <h1>THIS IS THE STYLISTS PAGE</h1>


        <h1>{{ stylist.getStylist }}'s Clients</h1>

        {% for client in clients %}
        <ul>
            <li>{{ client.getClientName }}</li>
        </ul>
        {% endfor %}







        <p><a href="/">Home</a></p>
</body>
</html>
