<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Stylists YOU PICKED</h1>


        <ul>
            <li>{{ stylist.getStylist }}</li>

        </ul>

        <form action='/clients' method='post'>
            <label for='client_name'>Client name:</label>
            <input id='client_name' name='client_name' type='text'>

        <button type='submit'>Add client</button>
        </form>


        <p><a href="/">Home</a></p>
</body>
</html>
